body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    color: #1f2937;
}

nav {
    background: #111827;
    padding: 16px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 18px;
    font-weight: bold;
}

main {
    padding: 30px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.menu-card {
    background: #e5e7eb;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    color: #111827;
    text-decoration: none;
}

.menu-card:hover {
    background: #d1d5db;
}

.btn,
.btn-secondary,
.btn-danger {
    display: inline-block;
    padding: 10px 14px;
    margin: 8px 5px 8px 0;
    border-radius: 8px;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.btn {
    background: #111827;
    color: white;
}

.btn-secondary {
    background: #6b7280;
    color: white;
}

.btn-danger {
    background: #b91c1c;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    margin-top: 20px;
}

th {
    background: #111827;
    color: white;
}

th,
td {
    padding: 12px;
    border: 1px solid #d1d5db;
    text-align: left;
}

form {
    background: white;
    padding: 25px;
    border-radius: 12px;
    max-width: 650px;
}

input,
select,
textarea {
    width: 100%;
    padding: 9px;
    margin-top: 4px;
    box-sizing: border-box;
}